interface {name_pascal}Props {
  // Add props here.
}

export function {name_pascal}(props: {name_pascal}Props) {
  void props;
  return (
    <div data-component="{name_kebab}">
      {/* {name_pascal} */}
    </div>
  );
}
